* {
    box-sizing: border-box;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 90px;
    border-radius: 10px;
    color: white;
    transition: all 300ms linear;
    background: #0B63F6;
    text-decoration: none;
    margin-bottom: 12px;
}

a:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
    background: white;
    color: #0B63F6;
}

input {
    border-radius: 4px;
    width: 272px;
    height: 40px;
    margin-right: 8px;
    padding: 8px 16px;
    color: rgb(46, 47, 66);
    font-family: Montserrat;
    border: 1px solid rgb(128, 128, 128);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    outline: transparent;
    margin-bottom: 32px;
}

input:hover {
    border-color: rgb(0, 0, 0);
    color: rgb(128, 128, 128);
}

input:active {
    border-color: rgb(78, 117, 255);
    color: rgb(0, 0, 0);
}

input:disabled {
    border-color: (128, 128, 128);
    color: rgb(128, 128, 128);
}

button {
    background: rgb(78, 117, 255);
    color: rgb(255, 255, 255);
    width: 75px;
    height: 40px;
    /* Автолейаут */
    padding: 8px 16px;
    border-radius: 8px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
    transition: all 200ms linear;
}

button:disabled {
    background: rgb(207, 207, 207);
    color: rgb(152, 152, 152);
}

button:hover {
    background: rgb(108, 140, 255);
    color: rgb(255, 255, 255);
}

.timer {
    width: 346px;
    height: 72px;
    display: flex;
    column-gap: 24px
}

.field {
    text-align: center;
}

.value {
    color: rgb(46, 47, 66);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.04em;
}

.label {
    color: rgb(46, 47, 66);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    text-transform: uppercase;
}
